@font-face {
  font-family: museo;
  src: url('assets/fonts/museo/museo-300-webfont.ttf');
}

a,
p,
div {
  font-family: museo;
  font-weight: 500;
}

header {
  width: 72em;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom,
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  font-size: 14px;
  width: 25em;
}

.left {
  width: 30em;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.smedia {
  display: flex;
  justify-content: flex-end;
}

body {
  background-image: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true');
  height: 100vh;
  margin: 0;
  padding: 2em 0 0 0;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
  background-color: #b5b5a1;
  background-blend-mode: multiply;
  border: 1px solid lightgrey;
  height: 20em;
  padding: 0 0 1em 0;
}

p {
  text-align: center;
}

/************************/

.slider {
  display: flex;
  align-items: flex-end;

  border: 1em solid white;
  height: 30em;
  width: 70em;
  background: grey;

  position: relative;
  margin: 2em auto;
}

.banner {
  height: 3em;
  width: 70em;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5em;

  font-size: 18px;
  color: white;
}

#la,
#ra {
  position: absolute;
  height: 3em;
  margin: auto;
}

#la {
  top: 40%;
  left: -2.3%;
}

#ra {
  top: 40%;
  right: -2.3%;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;

  height: 37em;
  width: 75em;
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: center;
}

.pview {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.info {
  width: 30vw;
}

#pn {
  text-align: left;
  margin: 2em 0 0 5.5em;
}

#St_boxes {
  height: 25em;
  width: 76.5em;
  margin-bottom: 2em;
}

#St_slider {
  height: 25em;
  width: 47em;
  border-width: 1em .5em 1em .5em;
}

#altv {
  flex-direction: row;
  height: 10.2em;
  width: 49.8em;
}

#altvb {
  border: .6em solid white;
  height: 9em;
  width: 14em;
  background-color: grey;
}

#user,
#projt {
  background-color: white;
  width: 24.5em;
}

#projt {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#user {
  display: flex;
  justify-content: flex-end;

  height: 10em;
  margin: 2em 0 1em 0;
}

#usrimg {
  height: 9em;
  width: 9em;
  background-color: grey;
  margin: .5em .5em .5em 1em;
}

.uinfo {
  text-align: right;
}

#contactinfo {
  font-size: 12;
}

#projt {
  height: 28em;
}

.twitter,
.facebook {
  height: 2em;
  border-radius: 8%;
  margin: 0 0 .5em .5em;
}

#bird {
  height: 1.5em;
}

#search,
#desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#vg {
  text-align: left;
  padding-left: 2em;
}

#sbar {
  display: flex;
  align-items: center;

  background-color: white;
  color: grey;
  width: 22em;
  height: 2.5em;
  padding-left: 1em;
}

.box {
  border: 1px solid grey;
  height: 10em;
  width: 16em;

  background: #515151;
}

#smallbox {
  height: 3.25em;
  width: 5em;
  margin: .2em;
}

.viewmore {
  display: flex;
  justify-content: center;
}

.button {
  background-image: url('https://github.com/ashghoul6/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
  background-color: #a09f92;
  background-blend-mode: multiply;
  color: white;
  text-decoration: none;
  text-transform: none;
  padding: 5px 55px;
  margin: 0 0 30px 0;
}

.button:hover {
  background-color: grey;
}

.eh {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3em;
  width: 100%;
  background-color: #54544f;
  color: white;
  box-shadow: 0px 6px 8px #888;
  margin: 0;
}

.lower {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 1em 2em;
}

#tu {
  font-size: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  width: 33%;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #42423a;
}

#vcdh,
#rmore,
#vg,
#lfs,
#pn,
#pt {
  text-transform: uppercase;
  color: black;
}

#pn,
#pt {
  color: grey;
}

#pt,
#pd {
  text-align: left;
  width: 22.5em;
}

#pt {
  margin-top: 1em;
}

#pd,
#login {
  color: #bfbcb6;
}

#search,
#desc {
  text-transform: none;
  color: white;
}

#d {
  text-align: left;
  line-height: 175%;
}


#rmore {
  font-size: 14px;
}

/****************************************************/

/*@media screen and (max-width: 700px) {
  #c3 {
    display: none;
  }
}*/
